{% extends "layout.html" %}
{% block content %}
<br>
<div class="container text-center">
    <h1>Our Facilities</h1>
</div>
<br>
<hr>
<div class="card" style="width: 18rem;">
    
    
  </div>
  <div class="card-header">
    <h1 class="h4" >Sports Hall</h1>
  </div>
  <img class="card-img" src="static/sportshall.jpg" alt="" height="250" width="250" style="float: left; margin-right: 10px;width: 18rem;">
  <ul class="list-group list-group-flush">
    <li class="list-group-item">Capacity:200</li>
    <li class="list-group-item">Activities: 1 hour sessions: Included with membership.</li>

  </ul>
    

<br><br><br><br><br><br><br><br>
<hr>
<div class="card-header">
    <h1 class="h4" >Squash Rooms</h1>
  </div>
  <img src="static/squash-rackets.jpg" alt="" height="250" width="250" style="float: left; margin-right: 10px; width:18rem;";>

  <ul class="list-group list-group-flush">
    <li class="list-group-item">Capacity: 4 per room.</li>
    <li class="list-group-item">Activities:<u>1 hour sesions:</u> £20 per hour.</li>
    <li class="list-group-item"><u>Team Events:</u>: £20 per hour.</li>

  </ul>
    

<br><br><br><br><br><br>
<hr>
<div class="card-header">
    <h1 class="h4" >Fitness Room</h1>
  </div>
  <img src="static/moderngym.jpg" alt="" height="250" width="250" style="float: left; margin-right: 10px;width:18rem;";>
  <ul class="list-group list-group-flush"> 
    <li class="list-group-item">Capacity:25</li>
    <li class="list-group-item">Activities: <u>General use:</u> Comes With Membership.</li>
    
    </ul>

<br><br><br><br><br><br><br><br>
<hr>
<div class="card-header">
    <h1 class="h4" >Swimming Pool</h1>
  </div>
  <img src="static/swimmingpool.jpg" alt="" height="250" width="250" style="float: left; margin-right: 10px;width:18rem;";>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">Capacity: 25</li>
    <li class="list-group-item">Activities: General use : Included with membership.</li>
    <li class="list-group-item"><u>Lane swimming</u>: Included with membership.</li>
    <li class="list-group-item"><u>Lessons</u>: £5 per lesson</li>
    <li class="list-group-item"><u>Team events</u>: £50 for whole area per hour.
  </ul>

<br><br><br>
<hr>
    </div>
{% endblock %}