{% extends "layout.html" %}
{% block content %}
<br>
<div class="container text-center">
    <h1>Our Facilities</h1>
</div>
<br>
<hr>
<h2>Modern Gym Equipment</h2>
    <div class="float-img">
    <img src="static/moderngym.jpg" alt="" height="250" width="250" style="float: left; margin-right: 10px;";>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt similique voluptatibus dolore accusantium ratione cumque, nisi ipsum dolorem consequatur quidem provident amet eos aperiam distinctio facere ad tempora veritatis repellendus. Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat numquam explicabo natus autem, ex ab iusto harum? Soluta, reiciendis amet id nisi, blanditiis, neque odit obcaecati assumenda doloribus inventore natus!</p>
</div>


<br><br><br><br><br>
<hr>
<h2 class = "text-right">Basketball Court</h2>
<div class="float-img">
    <img src="static/basketballcourt.jpg" alt="" height="250" width="250" style="float: right; margin-left: 10px;";>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt similique voluptatibus dolore accusantium ratione cumque, nisi ipsum dolorem consequatur quidem provident amet eos aperiam distinctio facere ad tempora veritatis repellendus. Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat numquam explicabo natus autem, ex ab iusto harum? Soluta, reiciendis amet id nisi, blanditiis, neque odit obcaecati assumenda doloribus inventore natus!
    </p>
</div>

<br><br><br><br><br>
<hr>
<h2 class = "text-left">Swimming Pool</h2>
<div class="float-img">
    <img src="static/swimmingpool.jpg" alt="" height="250" width="250" style="float: left; margin-right: 10px;";>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt similique voluptatibus dolore accusantium ratione cumque, nisi ipsum dolorem consequatur quidem provident amet eos aperiam distinctio facere ad tempora veritatis repellendus. Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat numquam explicabo natus autem, ex ab iusto harum? Soluta, reiciendis amet id nisi, blanditiis, neque odit obcaecati assumenda doloribus inventore natus!
    </p>
</div>

<br><br><br><br><br>
<hr>
<h2 class = "text-right">Squash Courts</h2>
<div class="float-img">
    <img src="static/squash-rackets.jpg" alt="" height="250" width="250" style="float: right; margin-left: 10px;";>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt similique voluptatibus dolore accusantium ratione cumque, nisi ipsum dolorem consequatur quidem provident amet eos aperiam distinctio facere ad tempora veritatis repellendus. Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat numquam explicabo natus autem, ex ab iusto harum? Soluta, reiciendis amet id nisi, blanditiis, neque odit obcaecati assumenda doloribus inventore natus!
    </p>
</div>
<br><br><br><br><br>
<hr>
<h2 class = "text-left">Yoga Room</h2>
<div class="float-img">
    <img src="static/yoga.jpg" alt="" height="250" width="250" style="float: left; margin-right: 10px;";>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt similique voluptatibus dolore accusantium ratione cumque, nisi ipsum dolorem consequatur quidem provident amet eos aperiam distinctio facere ad tempora veritatis repellendus. Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat numquam explicabo natus autem, ex ab iusto harum? Soluta, reiciendis amet id nisi, blanditiis, neque odit obcaecati assumenda doloribus inventore natus!
    </p>
</div>
{% endblock %}